<template name="header">
  <header>
    <div class="header-content">
      <h2 class="logo"><a href="/">Huddle</a></h2>
      
      <nav>
        {{#if currentUser}}
          <ul>
            <li>
              <a href="/files">
                <i class="fa fa-file"></i>
              </a>
            </li>
            <li>
              <a href="/messages">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li>
              <a href="/profile">
                <i class="fa fa-user"></i>
              </a>
            </li>
          </ul>
        {{else}}
          {{> loginButtons align="right"}}
        {{/if}}
      </nav>
    </div>
  </header>
</template>
