<template name="header">
  <header>
    <h2 class="logo">Huddle</h2>
    
    <nav>
      {{#if currentUser}}
        <ul>
          <li>
            <a href="">
              <i class="fa fa-file"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-user"></i>
            </a>
          </li>
        </ul>
      {{else}}
        {{> loginButtons}}
      {{/if}}
    </nav>
  </header>
</template>
