$color-white:     #FFFFFF;
$color-lightgray: #ECF0F1;
$color-lightblue: #3498DB;
$color-darkblue:  #2980B9;
$color-navy:      #2C3E50;
$color-crimson:   #E74C3C;

$fw-light:        300;
$fw-normal:       400;
$fw-bold:         700;
$fw-heavy:        900;


$size-main-width: 1024px;
