@import 'variables';

#files {
  .files-thumb {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 1rem 1rem 0 0;
    background: $color-lightgray;
    border-radius: 4px;
    
    .thumb {
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
      right: 0.25rem;
      bottom: 0.25rem;
      border-radius: 4px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
      background-size: cover;
      background-position: top center;
      cursor: pointer;
    }
  }
}
