@import 'variables';
@import 'mixins';

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color-navy;
  color: $color-white;
  
  .footer-content {
    @include width-wrap($size-main-width);
    padding: 1rem;
  }
}
