@import 'variables';
@import 'mixins';

header {
  position: relative;
  background: $color-lightgray;
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .header-content {
    @include width-wrap($size-main-width);
    height: 4rem;
    line-height: 4rem;
  }
  
  .logo {
    position: relative;
    padding-left: 1rem;
  }
  
  nav {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    
    li {
      display: inline-block;
    }
    
    a {
      display: block;
      padding: 0 1rem;
      font-size: 1.4rem;
      color: $color-darkblue;
      
      &:hover {
        color: $color-lightblue;
      }
    }
  }
}
