@import 'variables';
@import 'reset';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, input, select, button, textarea {
  font-family: 'Lato', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $color-white;
}



h1 {
  font-size: 3rem;
  font-weight: $fw-heavy;
  color: $color-navy;
}

h2 {
  font-size: 2.5rem;
  font-weight: $fw-bold;
  color: $color-crimson;
}
h3 {
  font-size: 2rem;
  font-weight: $fw-heavy;
  color: $color-navy;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

.main-content {
  position: relative;
  width: 100%;
  max-width: $size-main-width;
  margin: 1rem auto;
  padding: 1rem;
}
